div.header{color: blcak;color: black;background-color: rgb(90, 73, 56);}   
body {background-color: rgb(231, 217, 195);body}
li{list-style:none;}
ul{display:flex;}
li{list-style:none;padding:20px 30px 20px 30px;}
p{color: black}
li{list-style:none;}
ul1{display:flex;}
li{list-style:none;padding:20px 30px 20px 30px;}